[gui]
	recentrepo = C:/Users/Paula/OneDrive/Área de Trabalho/Paula/Diversos de programação/Git teste
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = PdlsViera
	email = pauladelossantosviera@yahoo.com
